footer
  .footer_content
    .footer_content-dream
      | DREAMSHARE
    .footer_content-company
      span Company
      ul
        li
          a(href='') About
        li
          a(href='') Contact
        li
          a(href='') Press
        li
          a(href='') Blog
        li
          a(href='') Terms and Privacy
        li
          a(href='') Help
    .footer_content-partners
      | Partners
    .footer_content-designed
      span DESIGNED BY
      img(src='../src/image/Bitmap.svg' alt='')
