header
  .content
    .content_nav
      span DREAMSHARE
      span.content_nav-button
        a(href='#') Log in
        a(href='#') Sign up
    .content_main
      span
        | SHARE YOUR
        | HOLIDAY DREAM
      span And find the perfect partner to fullfill it
      .content_main-find
        a(href='') Find your holiday partner
