.main_container
  .main_container-article
    | How Dreamshare works?
  .main_container-card
    .main_container-card-one
      a(href='#') STEP 1
      span Sed leo enim, condimentum
      span
        | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet
        | facilisis.
    .main_container-card-two
      a(href='#') STEP 2
      span Morbi velit risus
      span
        | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
    .main_container-card-three
      a(href='#') STEP 3
      span Sed leo enim, condimentum
      span
        | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet
        | facilisis.
  .team_article
    | Meet a partner for your best holiday
  .team
    .team_member-first
      .team_box
        img(src='../src/image/Photo.png' alt='')
        img(src='../src/image/music2.svg' alt='')
        span Bradley Hunter
        span Based in Chicago. I love playing tennis and loud music.
    .team_member-second
      .team_box
        img(src='../src/image/Photo 2.png' alt='')
        img(src='../src/image/brush.svg' alt='')
        span Marie Bennett
        span Currently living in Colorado. Lover of art, languages and travelling.
    .team_member-third
      .team_box
        img(src='../src/image/Photo 3.png' alt='')
        img(src='../src/image/camera.svg' alt='')
        span Diana Wells
        span
          | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
    .team_member-fourth
      .team_box
        img(src='../src/image/Photo 4.png' alt='')
        img(src='../src/image/Shape.svg' alt='')
        span Christopher Pierce
        span Star Wars fanatic. I have a persistent enthusiasm to create new things.
  .ideas
    .ideas_first
      span Sports and Activis
    .ideas_second
      span Wellness and Health
    .ideas_third
      span Extreme Sports and Expeditions
  .ideas_secondfloor
    .ideas_fourth
      span Games
    .ideas_fifth
      span Culture and Education
  .ideas_thirdfloor
    .ideas_sixth
      span Enjomet and Relaxation
    .ideas_seventh
      span Trevelling
  .lower_case
    span Crate your holiday activity
    span Hi! What are your holiday interests?
    .lower_case-search
      input(type='text' placeholder='Enter your insterests')
      button Search partners
